body {
    background-color: aqua;
    font-family: georgia;
}

h1 {
    font-family: 'comic sans ms';
    font-size: 60px;
    color: darkblue;
    text-align: center;
}

h4 {
    text-align: right;
    font-style: italic;
}

p {text-align: justify;}

.warnaputih {
    color: whitesmoke;
    font-variant: small-caps;
}

.warnaputih:hover {
    color: red;
    text-decoration: none;  
}

.warnakuning {
    color:orangered;
    text-align: center;
    line-height: 1;
}

.tengah {
    text-align: center;
    line-height: 2;
}

.pok {
    text-decoration: none;
    font-weight: bold;
}

.pok:hover {
    color:white;
    background-color: blue;
}

